{% load common_tags %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main:index' %}">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            {% show_top_menu %}
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="искать по сайту" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-binoculars-fill" viewBox="0 0 16 16">
                        <path
                            d="M4.5 1A1.5 1.5 0 0 0 3 2.5V3h4v-.5A1.5 1.5 0 0 0 5.5 1h-1zM7 4v1h2V4h4v.882a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V13H9v-1.5a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5V13H1V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V4h4zM1 14v.5A1.5 1.5 0 0 0 2.5 16h3A1.5 1.5 0 0 0 7 14.5V14H1zm8 0v.5a1.5 1.5 0 0 0 1.5 1.5h3a1.5 1.5 0 0 0 1.5-1.5V14H9zm4-11H9v-.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5V3z" />
                    </svg>
                </button>
            </form>
            <div class="px-1">
                <div class="dropdown dropstart">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-door-closed-fill" viewBox="0 0 16 16">
                            <path
                                d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1h8zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                        </svg>
                    </button>
                    {% if user.is_authenticated %}
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item disabled">{{ user }}</a></li>
                        {% if user.is_staff %}
                        <li><a class="dropdown-item" href="{% url 'admin:index' %}">Админка</a></li>
                        <li><a class="dropdown-item" href="{% url 'filebrowser:fb_browse' %}">Медиа</a></li>
                        {% endif%}
                        <li><a class="dropdown-item" href="{% url 'password_change' %}">Сменить пароль</a></li>
                        <li><a class="dropdown-item" href="{% url 'password_reset' %}">Профиль</a></li>
                        <li>
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item">выйти</button>
                            </form>

                    </ul>
                    {% else %}
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'login' %}">Войти</a></li>
                        <li><a class="dropdown-item" href="{% url 'main:signup' %}">Регистрация</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>