{% extends "base.html" %}

{% block description %}
Python разработчик с 5+ лет опыта. Python, Django, SDR, SQL, Linux. Сетевой стек 802.11, scapy.
{% endblock %}

{% block keywords %}
разработчик, программист, Python, Django, Scapy, SDR, Linux
{% endblock %}

{% block content %}

    <!-- Hero Section -->
    {% include "jambotron.html" %}

    <!-- About Section -->
    {% include "about.html" %}

    <!-- Skills Section -->
    {% include "skills.html" %}

    <!-- Projects Section -->
    {% include "projects.html" %}

    <!-- Contact Section -->
    {% include "contact/contact.html" %}

{% endblock %}