@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

h1 {font-size: 1.6em  !important; font-weight: 500 !important;}
  h2 {font-size: 1.4em !important; font-weight: 500 !important;}
  h3 {font-size: 1.2em !important; font-weight: 500 !important;}
  h4 {font-size: 1em !important; font-weight: 500 !important;}
  h5 {font-size: 0.9em !important; font-weight: 500 !important;}
  h6 {font-size: 0.8em !important;}
  
@media only screen and (max-width: 1000px) {
  h1 {font-size: 1.6em  !important; font-weight: 500 !important;}
  h2 {font-size: 1.4em !important; font-weight: 500 !important;}
  h3 {font-size: 1.2em !important; font-weight: 500 !important;}
  h4 {font-size: 1em !important; font-weight: 500 !important;}
  h5 {font-size: 0.9em !important; font-weight: 500 !important;}
  h6 {font-size: 0.8em !important;}
}

.svg img{
    width: 100%;
}

.shadow {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}



.col_shadow > .vc_column-inner {
	-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}


.vc_btn3.vc_btn3-color-blue, .vc_btn3.vc_btn3-color-default.vc_btn3-style-flat {
    background-color: #d8e1f7 !important;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    border-radius: 8px !important;
}
.vc_btn3.vc_btn3-color-blue:hover, .vc_btn3.vc_btn3-color-default.vc_btn3-style-flat:hover {
    color: #fff !important;
    background-color: #003bd4 !important;
}


.vc_btn3.vc_btn3-color-blue, .vc_btn3.vc_btn3-color-blue.vc_btn3-style-flat {
    color: #fff;
    background-color: #0047ff !important;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    border-radius: 8px !important;
}
.vc_btn3.vc_btn3-color-blue:hover, .vc_btn3.vc_btn3-color-blue.vc_btn3-style-flat:hover {
    color: #fff !important;
    background-color: #003bd4 !important;
}


.vc_btn3.vc_btn3-color-pink, .vc_btn3.vc_btn3-color-pink.vc_btn3-style-flat {
    color: #fff;
    background-color: #ff1b00 !important;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    border-radius: 8px !important;
}
.vc_btn3.vc_btn3-color-pink:hover, .vc_btn3.vc_btn3-color-pink.vc_btn3-style-flat:hover {
    color: #fff !important;
    background-color: #c71601 !important;
}

.highlight {
    background-color: #cbe7ff;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: 600;
}

.max_height_120 img{
    max-height: 120px !important;
}

.mpc-toggle-row + .mpc-row {
    overflow: hidden !important;
}


.fgos_card {
    border: 2px solid #eef3ff;
    padding: 20px;
    font-size: 1.2em;
    background-color: #f6f9fe;
    margin: 20px 0;
}

.fr_faq_contents {
	margin-top: 3em !important;
	min-height: 1000px;
}

.fgos_item {
    background-color: #ffffff !important;
    font-size: 1.2em;
}


.fgos_item:hover {
    background-color: #f6f9fe !important;
}


a {
    text-decoration: none !important;
    border-bottom: none !important;
    color: #2f61fb;
}

a:hover {
    color: #0432C9 !important;
}

.fgos_item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.fgos_item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.footer_link {
    color: #ffffff;
}

.footer_link:hover, .footer_link:active, .footer_link:visited {
    color: #F0F4FE  !important;
}