





/* TYPOGRAPHY */
.fr_searchbar_form,
.fr_faq_choice_wrap {
	font-size: 16px;
}
@media screen and (max-width: 860px) { 
	.fr_searchbar_form,
	.fr_faq_choice_wrap {
		font-size: 14px;
	}
}

.fr_custom_dd section,
.fr_faq_search input {
	font-size: 120%;
}
.fr_custom_dd_list li {
	font-size: 110%;
}
.fr_faqs_list li {
	font-size: 120%;
}
h3.fr_faq_main_title {
	font-size: 140%;
    
    }
.fr_faq_container .fr_main_faq_txt,
.fr_faq_container .fr_choice_kb {
	font-size: 100%;
}
h4.fr_new_question {
	font-size: 110%;
}
h6.fr_choice_kb_legend {
	font-size: 103%;
}	



/* DROPDOWN IMAGES */
.fr_subj_img {
	max-width: 40px; 
    max-height: 40px; 
    border-radius: 5;
}
@media screen and (max-width: 860px) { 
	.fr_subj_img {
        max-width: 20px; 
        max-height: 20px; 
    }
}



/* FAQ IMG GALLERY OVERLAY */

.fr_choice_gall_inner a:before {
	color: #ffffff;
    background: rgba(17,17,17, 0);
}
.fr_choice_gall_inner a:hover:before {
	color: #ffffff;
    background: rgba(17,17,17, 0.25);
}



/* ELEMS BORDER */
.fr_custom_dd, 
.fr_faq_search input {
	border: 2px solid #e0e0e0; 
}
.fr_custom_dd_list li {
	border-color: #e0e0e0;
}

.fr_custom_dd:hover,
.fr_custom_dd.fr_expanded_dd, 
.fr_faq_search input:hover,
.fr_faq_search input:active,
.fr_custom_dd.fr_expanded_dd {
	border-color: #cccccc; 
}

.fr_faqs_list li {
	border: 0 solid #dfdfdf; 
}
.fr_faqs_list li:hover {
	border-color: #efefef; 
}

.fr_faq_container {
	border: 0 solid #dfdfdf; 
}
.fr_sub_choice_hr {
	border-top: 2 dashed #cccccc; 
}



/* ELEMS BORDER RADIUS */
.fr_custom_dd, 
.fr_faq_search input,
.fr_faqs_list li,
.fr_faq_container,
.fr_back_to_faqs {
	border-radius: 2px px;
}
.fr_subj_img {
	border-radius: 5% px;
}



/* COLORS */
.fr_custom_dd, 
.fr_faq_search input { 
	color: #5a5a5a;
    background: #ffffff;
}
.fr_custom_dd section:before,
.fr_faq_search:before,
.fr_clear_search {
 	color: #5a5a5a;
 }
.fr_custom_dd:hover,
.fr_custom_dd.fr_expanded_dd, 
.fr_faq_search:hover input,
.fr_faq_search input:active {
	color: #505050;
    background: #ffffff;
}
.fr_custom_dd:hover section:before,
.fr_custom_dd.fr_expanded_dd section:before,
.fr_faq_search:hover:before {
	color: #505050;
}
.fr_faqs_list li {
	color: #505050;
    background: #efefef;
}
.fr_faqs_list li:before {
	color: #505050;
}
.fr_faqs_list li:hover {
	color: #3e3e3e;
    background: #f3f3f3;
}
.fr_faqs_list li:hover:before {
	color: #3e3e3e;
}

.fr_faq_container {
	background: #efefef;
}
.fr_big_loader {
		border-color: rgba(187,187,187, 0.3) rgba(187,187,187, 0.3) rgba(187,187,187, 0.3) #bbbbbb;
}
.fr_faq_container .fr_main_faq_txt,
.fr_faq_container .fr_faq_txt,
.fr_faq_container .fr_choice_kb_legend,
.fr_faq_container .fr_choice_kb,
.fr_faq_container .fr_rating_box {
	color: #505050;
}

.fr_faq_container .fr_choice_kb a {
	color: #444444;
}
.fr_faq_container .fr_choice_kb a:hover,
.fr_faq_container .fr_choice_kb a:visited {
	color: #303030;
}

.fr_back_to_faqs {
	color: #ffffff;
    background: #cacaca; 
}
.fr_back_to_faqs:hover {
	color: #ffffff;
    background: #aaaaaa;
}



/* LIGHTBOX */
.fr_lb .sl-navigation button,
.fr_lb .sl-close {
	color: #ffffff;
}
.fr_lb .sl-spinner {
	border-color: #ffffff;
}
.sl-overlay {
	background: rgba(17,17,17, 0.7);
}



/* KB TAGS - use FAQ list colors */
.fr_kb_tags_buttons a,
.fr_kb_tags_buttons a:visited,
.fr_kb_tags_buttons a:hover {
	border-color: transparent !important; 
}
.fr_kb_tags_buttons a,
.fr_kb_tags_buttons a:visited {
	border-radius: 2px;
    color:#505050;
    background:#efefef;
}
.fr_kb_tags_buttons a:hover {
	color:#3e3e3e;
	border-color:#efefef;
    background:#f3f3f3;
}



