{% load static %}

<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Трудовой путь</h2>
            <h3 class="section-subheading text-muted">основные этапы трудовой деятельности и накопленный стек ИТ
                технологий</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid"
                        src="{% static 'assets/img/about/bsu.jpeg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>1997-2002</h4>
                        <h4 class="subheading">Мои университеты</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Обучение в Бурятском госуниверситете им. Д. Банзарова,
                            физико-технический факультет. Бурятский научный центр по специальности радиофизика.
                            Большая блогодарность моим преподавателям, которые обучили меня методам научного
                            познания. А так же моим одногруппникам и друзьям, с которыми совместно открывали
                            возможности компютеров и информационных систем.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid"
                        src="{% static 'assets/img/about/pedkolledge.jpeg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2002 - 2004</h4>
                        <h4 class="subheading">Неудавшийся учитель информатики</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Преподавание информатики в Бурятском педагогическом колледже и служба
                            в армии. Ничего нового нельзя дать по постоянно устаревающим учебникам информатики.
                            Тяжело когда нет опытного наставника.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid"
                        src="{% static 'assets/img/about/bolid.jpeg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>май - сентябрь 2004</h4>
                        <h4 class="subheading">Инженер ТСО МПМЦ УВД МВД</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Получил опыт в монтаже и проектировании технических средств охраны.
                            Узнал что такое слаботочка, RS-485, городские телефонные сети, кроссировка и ContactID.
                            Спасибо коллегам за переданный опыт и вечера с пивом и Conter-Strike. А так же
                            бунтарский дух и разрушение монополии на пультовую охрану.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid"
                        src="{% static 'assets/img/about/minstroy.jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2004 - 2006</h4>
                        <h4 class="subheading">Консультант по ИТ Министра строительства и ЖКХ</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Опыт внедрения и администрирования локальной сети, администрирования
                            серверов Windows и Linux, внедрение Active Directory и прокси-сервера squid,
                            консультирование пользователей и эникейство. Спасибо коллегам из администрации главы
                            республики за обмен опытом, поддержку и дружеские отношения, а так же коллегам из
                            министерства за совместное освоение компьютерных технологий.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid"
                        src="{% static 'assets/img/about/mbs.jpeg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2006 - 2011</h4>
                        <h4 class="subheading">ИФК Метрополь. Металлы-Восточной Сибири. Озерный ГОК. МВС
                            Development.</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Получил богатый опыт внедрения геоинформационных систем. Узнал о
                            спутниковых видах связи (особый привет ООО "Особняк"), объеденил удаленные офисы в
                            единую сеть по VPN. Wi-Fi сеть в далеком поселке в Еравне в 2006 году (благодарность
                            нежному барсу). Сотовая связь на трассе Хоринск - Сосново-Озерск - Озерный в 2008 г.
                            (привет молодой и амбициозный МТС) Получил представление о BIM и строительстве. Спасибо
                            моим коллегам, региональному руководителю Цыренову Б.Д. и нашему неунывающему лидеру
                            М.В. Слипенчуку за участие в значимых для республики проектах.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid"
                        src="{% static 'assets/img/about/an-2.jpeg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2011 - 2018</h4>
                        <h4 class="subheading">Начальник ИТ службы ООО "Аэропорт Байкал"</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Опыт внедрения уникальных систем для аэропорта на основе opensource:
                            система оперативно диспетчерсвой связи и аварийного оповещения на основе asterisk,
                            суточное табло на django. И много других внедрений для автоматизации бизнес процессов и
                            повышения надежности авиационной и транспортной безопасности. Спасибо коллегам за
                            понимание, склоки, интриги, критику и богатый жизненный опыт. Особенное спасибо
                            специалистам из Asnex, Авиабит и Юником за обмен опытом, поддержку и терпение.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid"
                        src="{% static 'assets/img/about/liraa10.jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2018 - по настоящее время</h4>
                        <h4 class="subheading">Техник радионавигации, радиолокации и связи</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Не пыльная размеренная работа по графику, связанная с обслуживанием
                            разнообразного радиоэлектронного оброрудования, телекоммуникационного оборудования и в
                            том числе компьютеров с разнообразными ОС и ПО. И даже на такой зарегулированной работе
                            есть место творчеству и разработкам на коленках. А так же есть время на пользу общества,
                            передачу опыта начинающим ИТишникам и изучение backend, frondend и ИИ.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>