<!-- Hobby-->
<section class="page-section" id="hobby">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Увлечения</h2>
            <h3 class="section-subheading text-muted">Конечно же у меня есть хобби. Т.к. я живу в своем доме и
                путешествую на машине, то надо постоянно заниматься двумя вещами - домом и автомобилем.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-car fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Автомобиль</h4>
                <p class="text-muted">Как у всех автолюбителей у меня есть гараж и в нем автомобиль, с которым
                    приходиться возиться.</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-house fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Милый умный дом</h4>
                <p class="text-muted">Построил дом, спасибо отцу, жене и моим детям. Поэтому продолжаю делать дом
                    умным, автономным, теплым и экологичным.</p>
            </div>
        </div>
    </div>
</section>