<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Услуги</h2>
            <h3 class="section-subheading text-muted">Имею большой опыт в ИТ сфере. Прошел трудовой путь от эникея,
                до руководителя проектов. Обладаю богатым стеком технололгий. Продолжаю саморазвиваться. Готов
                делиться опытом с другими.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-globe fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Web-разработка</h4>
                <p class="text-muted">Предоставляю услуги в разработке сайтов любой сложности. </p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-server fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Администрирование ИТ</h4>
                <p class="text-muted">Настройка сетевых устройств, серверов и рабочих станций.</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-user-graduate fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Наставничество</h4>
                <p class="text-muted">Богатый набор тем для ревератов, курсовых и дипломных работ.</p>
            </div>
        </div>
    </div>
</section>