{% load static %}

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="{% url 'main:index' %}"><img src="{% static 'assets/logo.png' %}"
                    alt="mineev03" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Меню
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    {% for m_item in menu_items %}
                    <li class="nav-item"><a class="nav-link" href="{{ m_item.url }}">{{ m_item.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>